body {
    background-color: #fafafa;
    }
    
    .thin {
      font-weight: 300;
    }
    
    .cover-overlay {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
      }
    
    .title {
      font-size: 4.5rem;
      line-height: 1.8rem;
      margin: 0;
    }
    
    .cover-text {
      position: absolute;
      top: 25%;
    }
    
    .cover-quote {
      margin-top: 70px;
      margin-bottom: 10px;
      font-size: 1.6rem;
      font-weight: 300;
      font-style: italic;
      line-height: 1.8rem;
    }
    
    .cover-quote-author {
      margin-top: 0;
      font-size: 1.5rem;
      padding-right: 60px;
    }
    
    .lr-border { border-left: 2px solid red; }
    .rg-border { border-right: 2px solid green;}
    .lb-border { border-left: 2px solid blue;}
    
    .testimonial-text {
      font-size: 1.4rem;
    }
    
    .author {
      font-size: 1.1rem;
      font-weight: 300;
      margin: 0 20px 0 20px;
    }
    
    .social a {
      color: black;
      transition: all 0.7s ease 0s;
    }
    
    .linkedin:hover {
        color: #006db3;
    }
    
    .github:hover {
      color: #6e5494;
    }
    
    .email:hover {
      color: #c71610;
    }
    
    .resume:hover {
      color: #778899;
    }
    
    .table-of-contents {
      margin-top: 10vh;
      margin-left: -20px;
      position: fixed;
      top: 0;
    }
    
    .table-of-contents li {
      margin-bottom: 5px;
    }
    
    @media (max-width: 800px) {
      .card-resizeimg {
        height: 200px;
        width: auto;
      }
      .card-content {
        min-height: 250px;
      }
    }
    
    @media (min-width: 801px) {
      .card-resizeimg {
        width: auto;
        height: 250px;
      }
    }

    /* contact form */

    form {
      max-width: 1000px; /* Adjust the width as needed */
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-family: Arial, sans-serif;
    }
    
    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    textarea {
      resize: vertical;
    }
    
    input[type="submit"] {
      background-color: #e74c3c;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
    
    input[type="submit"]:hover {
      background-color: #c0392b;
    }
    
    .center {
      text-align: center;
    }

    #message {
      height: 150px; /* Adjust the height as needed */
    }
    
